*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, rgb(159, 166, 24), #22d555);
    overflow: hidden;
    position: relative;
}

nav {
    display: flex;
    width: 80%;
    margin: 20px auto;
    align-items: center;
    font-weight: 550;
    position: sticky;
    z-index: 1;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links li {
    list-style: none;
}

.logo-area {
    display: flex;
    align-items: center;
}

.logo {
    width: 20%;
    height: 20%;
    margin-right: 12px;
}

.nav-links ul li {
    display: inline-block;
    padding: 0 2rem;
}

.nav-links ul a {
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.nav-links ul a:hover {
    color: rgb(168, 29, 29);
}

.infomation {
    width: 700px;
    height: 1000px;
    position: absolute;
    top: 50%;
    left: -10%;
    transform: translateY(-50%);
}

#circle {
    width: 700px;
    height: 700px;
    position: absolute;
    /*background: #ccc;*/
    border-radius: 50%;
    top: 150px;
    left: 50px;
    transform: rotate(0deg);
    transition: 1s;
}

.feature {
    display: flex;
    position: absolute;
    color: white;
}

.feature img {
    width: 70px;
}

.feature div {
    margin-left: 10px;
}

.feature div a {
    margin-top: 8px;
}

.one {
    top: 320px;
    right: 35px;
}

.two {
    top: 65px;
    left: 205px;
    transform: rotate(-90deg);
}

.three {
    bottom: 310px;
    left: 15px;
    transform: rotate(-180deg);
}

.four {
    bottom: 100px;
    right: 250px;
    transform: rotate(-270deg);
}

.pc {
    width: 200px;
    position: absolute;
    top: 51%;
    transform: translateY(-50%);
    left: 39%;
    z-index: 1;
}

.control {
    position: absolute;
    top: 50%;
    right: 15%;
    transform: translateY(-50%);
    text-align: center;
}

.control img {
    width: 15%;
}

.control h3 {
    color: #fff;
    margin: 20px 0;
}

#upBtn {
    cursor: pointer;
}

#downBtn {
    cursor: pointer;
    transform: rotate(-180deg);
}

.overlay {
    width: 0;
    height: 0;
    border-top: 520px solid #fff;
    border-right: 500px solid transparent;
    border-bottom: 520px solid #fff;
    border-left: 450px solid #fff;
}